<% provide :title, "Sign in" %>
<h1> Sign in </h1>

<div class='row'>
	<div class='span6 offset3'>
		<%= form_tag sessions_path do %>
		
		    <h6>
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email] %>
		    </h6>	
		
		    <h6>
			<%= label_tag :password %>
			<%= password_field_tag :password %>
			</h6>
			
			<h6 class="spacing">
			<%= check_box_tag :remember_me, 1, params[:remember_me]%>		
			<%= label_tag :remember_me, "Don't forget about me", style: "vertical-align: -3px; 	display: inline-block;"%>
			</h6>
			
			<%= submit_tag 'Sign in', class: 'btn btn-large btn-primary '%>
		<% end %>
		
		<p>
			New user? <%= link_to 'Sign up now!', signup_path %>
		</p>
	</div>
</div>
	