<% provide :title, "Sign in" %>
<h1>Sign In</h1>

<div class='row'>
	<div class='span6 offset3'>
		<%= form_tag sessions_path do %>

      <h6>
			<%= label_tag :email, "Email", style: "font-size: 1.3em"%>
			<%= text_field_tag :email, "", id: "sessiontextfield" %>
		  </h6>

      <!--the "" is for value, i know, stupid.. -->

		  <h6>
			<%= label_tag :password, "Password", style: "font-size: 1.3em"%>
			<%= password_field_tag :password, "", id: "sessionpasswordfield" %>
			</h6>
			
			<h6>
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>		
			<%= label_tag :remember_me, "Don't forget about me", style: "vertical-align: -6px; 	display: inline-block;
			 font-size: 1.3em" %>
			</h6>
			
			<%= submit_tag 'Sign in', class: 'btn btn-large btn-inverse '%>
		<% end %>


      <span class="left">
         New user? <%= link_to 'Sign up now!', signup_path %>
      </span>

      <span class="right">
        Forgot password? <%= link_to 'Click here!', resetpassword_path %>
      </span>
	</div>
</div>
	