<% provide :title, "Sign in" %>
<h1> Sign in </h1>

<div class='row'>
	<div class='span6 offset3'>
		<%= form_tag sessions_path do %>
		
		    <h6>
			<%= label_tag :email %>
			<%= text_field_tag :email, "", id: "sessiontextfield" %>
		    </h6>
		
		    <h6>
			<%= label_tag :password %>
			<%= password_field_tag :password, "", id: "sessionpasswordfield" %>
			</h6>
			
			<h6>
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>		
			<%= label_tag :remember_me, "Don't forget about me", style: "vertical-align: -4px; 	display: inline-block;"%>
			</h6>
			
			<%= submit_tag 'Sign in', class: 'btn btn-large btn-primary '%>
		<% end %>

        <br></br>
		
		<span class="left">
			New user? <%= link_to 'Sign up now!', signup_path %>
		</span>

		<span class="right">
			Forgot password? <%= link_to 'Click here!', resetpassword_path %>
		</span>
	</div>
</div>
	