<% provide :title, "Sign in" %>
<h1>Sign In</h1>

<div class='row'>
	<div class='span6 offset3'>
		<%= form_tag sessions_path do %>

			<%= label_tag :email, "Email"%>
			<%= text_field_tag :email %>

      <!--the "" is for value, i know, stupid.. -->

			<%= label_tag :password, "Password"%>
			<%= password_field_tag :password %>

			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
			<%= label_tag :remember_me, "Don't forget about me", style: "vertical-align: -5px; 	display: inline-block;" %>
      <br />

			<%= submit_tag 'Sign in', "type" => "button", class: 'btn btn-large btn-inverse '%>
		<% end %>
    <span class="left">
       <%= link_to image_tag('http://mobile.plazaclassic.com/assets/login_w_face-4528617cc6fe627c2b57fdc60f2896ad.png', style: "height: 70px; width:auto"),
        'auth/facebook' %>
       <br/>
       New user? <%= link_to 'Sign up now!', signup_path %>
    </span>

    <span class="right">
      Forgot password? <%= link_to 'Click here!', resetpassword_path %>
    </span>
	</div>
</div>
