<% provide :title, "Password Reset" %>
<h1>Reset Password</h1>

<div class='row'>
	<div class='span6 offset3'>
		<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>

		<h6>
		<%= f.label :password %>
		<%= f.text_field :password, value: "Minimum 6 characters", id: "user_passwordclear_textfield",
                     style: "color: #B2B2B2" %>

		<%= f.password_field :password, id: "user_password_textfield" %>
		</h6>
		
		<h6>
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, id: "user_passwordconfirm_textfield" %>
		</h6>

		<%= f.submit "Change my password", class: "btn btn-large btn-inverse"%>
		<% end %>
	</div>
</div>


