<div>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description, :rows => 10 %>

  <%= f.file_field :photo %>

  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", "#", style: "float: right; margin-top: 15px; margin-right: -21px", class: "remove_fields" %>
</div>

<!--<br />-->