<div>
  <% @user.photos.each do |p| %>
    <div id="picture_refreshable-<%= p.id %>" class="span3 dent" style="margin-top: 30px;">
      <h6><%= p.name %></h6>
      <p><%= image_tag p.photo.url(:thumb), class: "img-polaroid" %></p>
      <h6><%= simple_format p.description %></h6>
      <p>
        <%= link_to "Edit", edit_user_photo_path(@user, p), id: "picture_edit-"+p.id.to_s, remote: true %> |
        <%= link_to "Destroy", user_photo_path(@user, p) , :confirm => 'Are you sure?', :method => :delete %> |
        <%= link_to "View", user_photo_path(@user, p) %>
      </p>
    </div>
  <% end %>
</div>

<!--when update this update photos/_photos.html.erb as well!-->