<div id="user-photos">
  <% @user.photos.each do |p| %>
    <div id="picture_refreshable-<%= p.id %>" class="span5 dent" style="margin-top: 30px;" data-id="<%= p.id.to_s %>"
      data-profileuser="<%= @user.name %>" data-currentuser="<%= signed_in? ? current_user.name : nil %>">
      <h2><%= p.name %></h2>
      <div id="icons-<%= p.id.to_s %>" style="visibility: hidden; margin-top: -20px;">
        <%= link_to user_photo_path(@user, p), method: :delete do%>
          <i class="icon-remove-circle icon-black" style="margin-right: 5px;"></i>
        <% end %>
        <%= link_to edit_user_photo_path(@user, p), id: "picture_edit-"+p.id.to_s, remote: true do %>
          <i class="icon-edit icon-black"></i>
        <% end %>
      </div>
      <a href="<%= user_photo_path(@user, p) %>"><%= image_tag p.photo.url(:medium), class: "img-polaroid" %></a>
      <h6><%= simple_format p.description %></h6>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {$('.dent').doIcons()});
</script>

<!--when update this update photos/_photos.html.erb as well!-->