<% provide(:title, 'Edit user') %>
<h1>Update Your Profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @user, :html => { :multipart => true } do |f| %>

      <%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

      <% if !(@user.avatar_file_name.blank?) && !(@user.avatar_file_size == 0) %>
        <div id="avatar">
          <%= image_tag @user.avatar.url(:thumb), class: "shadow" %>
        </div>
      <% end %>

      <%= f.file_field :avatar, style: "margin-top: 12px;" %>

      <% if !(@user.avatar_file_name.blank?) && !(@user.avatar_file_size == 0) %>
        <%= f.hidden_field :destroy_avatar %>
        <%= link_to "Remove Profile Picture", "#", class: "remove_avatar" %>
      <%end%>

      <%= f.fields_for :photos do |builder| %>
        <%= render 'photo_field', f: builder %>
      <% end %>

      <h3><%= link_to_add_fields "Add Photos", f, :photos %>
        <i class="icon-picture icon-black" style="margin-left: 3px;"></i></h3>

      <%= f.label :password, "To save settings, please enter password", style: "margin-top: 30px"%>
      <%= f.password_field :password %>

			<%= f.submit "Save changes", class: "btn btn-large btn-inverse" %>
		<% end %>

	</div>
</div>