<% provide(:title, 'Edit user') %>
<h1>Update Your Profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @user, :html => { :multipart => true } do |f| %>

      <%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

      <% if !(@user.avatar_file_name.blank?) && !(@user.avatar_file_size == 0) %>
        <div id="avatar">
          <%= image_tag @user.avatar.url(:thumb), class: "shadow" %>
        </div>
      <% end %>

      <%= f.file_field :avatar, style: "margin-top: 12px;" %>

      <% if !(@user.avatar_file_name.blank?) && !(@user.avatar_file_size == 0) %>
        <%= f.hidden_field :destroy_avatar %>
        <%= link_to "Remove Profile Picture", "#", class: "remove_avatar" %>
      <%end%>

      <!--<h3 style="margin-top: 12px;"><i class="icon-picture icon-black" style="margin-left: 3px;"> Add Profile Picture-->
        <!--</i></h3>-->

      <%= f.label :password, "To save settings, please enter password"%>
      <%= f.password_field :password %>

      <%= f.submit "Save all changes", class: "btn btn-large btn-inverse", style: "margin-bottom: 30px" %>

      <br />
      <i class="icon-picture icon-black"></i>
      <%= link_to "Edit All Photos ↓", "#", class: "show_photo_fields" %>
      <div style="display: none;">
        <%= f.fields_for :photos do |builder| %>
          <%= render 'photo_field', f: builder %>
        <% end %>

        <div style="margin-top: 10px;">
          <%= link_to_add_fields "Add Photos", f, :photos %>
        </div>
      </div>

		<% end %>

	</div>
</div>