<% provide(:title, 'Sign up')%>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
	<%= form_for @user, html: {multipart: true} do |f| %>
		
		<h6>
		<%= f.label :name, "Username" ,class: "engravedtext" %>
		<%= f.text_field :name, value: "Letters/Numbers/Underscores", id: "user_username_textfield",
      style: "color: #B2B2B2" %>
		</h6>

		<h6>
		<%= f.label :email, "Valid Email", class: "engravedtext" %>
		<%= f.text_field :email, id: "user_email_textfield", value: "A verification email will be sent to this inbox",
      style: "color: #B2B2B2" %>
		</h6>
		
		<h6>
		<%= f.label :password, class: "engravedtext" %>
		<%= f.text_field :password, value: "Minimum 6 characters", id: "user_passwordclear_textfield",
      style: "color: #B2B2B2" %>
		<%= f.password_field :password, id: "user_password_textfield" %>
		</h6>
		
		<h6>
		<%= f.label :password_confirmation, "Confirmation", class: "engravedtext" %>
		<%= f.password_field :password_confirmation, id: "user_passwordconfirm_textfield" %>
		</h6>

		<%= f.label "Choose a photo:", class: "engravedtext", style: "font-weight: bold; font-size: 17px"%>
		<%= f.file_field :avatar%>

		<%= f.submit "Create my account", class: "btn btn-large btn-primary"%>

<% end %>
</div>
</div>