<% provide(:title, 'Sign up')%>
<h1>Sign up</h1>

<%= form_for @user, html: {multipart: true} do |f| %>
	<%= render 'shared/error_messages'%>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
		<%= f.label "Choose a photo:" %><br />
		<%= f.file_field :avatar, class: "round" %><br /> <br />
	</div>
	<div class="action">
		<%= f.submit "Sign up", class: "round submit", style:"width:50px; background:green; height:50px; font-align:center; font-family:verdana; color:white; font-size:10px; border-style:none;" %>
	</div>

<% end %>
	