<div id="edit_picture_form-<%= @photo.id %>" style="display: none">
  <%= form_for ([@user, @photo]), remote: true, :html => { :multipart => true } do |builder| %>
    <%= builder.label :name %><br />
    <%= builder.text_field :name %>
    <p>
      <%= builder.label :description %><br />
      <%= builder.text_area :description, :rows => 10 %>
    </p>
    <p>
      <%= builder.file_field :photo %>
    </p>
    <p><%= builder.submit "Save" %></p>
  <% end %>
</div>  <!-- to get rid of "display: none", use ".hide().slideDown()"-->

<!--<script type="text/javascript" charset="utf-8">-->
<!--  $(function() {$('#edit_picture_form').slideDown();}); -->
<!--</script>     can do this as well! -->
