<div id="edit_picture_form-<%= @photo.id %>" style="display: none;">
  <%= form_for ([@user, @photo]), remote: true, :html => { :multipart => true } do |builder| %>
    <%= builder.label :name, style:"text-align: center" %>
    <%= builder.text_field :name %>

    <%= builder.label :description, style:"text-align: center"%>
    <%= builder.text_area :description, :rows => 10 %>

    <%= builder.file_field :photo %> <br />

    <%= builder.submit "Save", class: "btn btn-inverse"%>
  <% end %>
</div>

<!-- to get rid of "display: none", use ".hide().slideDown()"-->

<!--<script type="text/javascript" charset="utf-8">-->
<!--  $(function() {$('#edit_picture_form').slideDown();}); -->
<!--</script>     can do this as well! -->
