<div id="picture_refreshable-<%= @photo.id %>">
  <p><%= @photo.name %></p>
  <p><%= simple_format @photo.description %></p>
  <p><%= image_tag @photo.photo.url :thumb %></p>
  <p>
    <%= link_to "Edit", edit_user_photo_path(@user, @photo), id: "picture_edit-"+@photo.id.to_s, remote: true %> |
    <%= link_to "Destroy", user_photo_path(@user, @photo) , :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View", user_photo_path(@user, @photo) %>
  </p>
</div>