<div id="picture_refreshable-<%= @photo.id %>" class="span5 dent" style="margin-top: 30px; display: none;"
  data-id="<%= @photo.id.to_s %>" data-profileuser="<%= @user.name %>" data-currentuser="<%= current_user.name %>">
  <h2><%= @photo.name %></h2>
  <div id="icons-<%= @photo.id.to_s %>" style="visibility: hidden; margin-top: -20px;">
    <%= link_to user_photo_path(@user, @photo), method: :delete do%>
      <i class="icon-remove-circle icon-black" style="margin-right: 5px;"></i>
    <% end %>
    <%= link_to edit_user_photo_path(@user, @photo), id: "picture_edit-"+@photo.id.to_s, remote: true do %>
      <i class="icon-edit icon-black"></i>
    <% end %>
  </div>
  <a href="<%= user_photo_path(@user, @photo) %>"><%= image_tag @photo.photo.url(:medium), class: "img-polaroid" %></a>
  <h6><%= simple_format @photo.description %></h6>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {$('.dent').doIcons()});
</script>

<!--when update this update users/_show_photos.html.erb as well!-->

<!--if no route, CHANGE p to @photo!-->